<%- include('../parciales/header') %>
<!-- banner principal -->
 <section class="py-5 bg-light">
    <div class="container-fluid px-5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="fw-bold"><span>El equilibrio perfecto entre estilo y funcionalidad</span></h2>
          <p class="text-muted">Nuestros tenis están diseñados para acompañarte en cada paso, desde tus entrenamientos más exigentes hasta tus momentos más relajados.</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <img src="assets/img/l1.png" class="img-fluid" alt="Zapatos Ferk" style="max-width: 500px; width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </section>

<!-- seccion slider de productos v2 -->
<section class="container-fluid px-4 py-5 position-relative bg-light">
 
  <!-- izquierda -->
  <button class="slider-arrow left" onclick="moverSlider(-1)">&#10094;</button>
  
  <!-- slider -->
  <div class="jesska-slider-container d-flex overflow-hidden" id="jesskaSlider">
    <!-- 1 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air-force.png" alt="Air Force 1">
      <p class="mt-2 fw-semibold">Air Force 1</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 2 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air1.webp" alt="Air Force 1 Black">
      <p class="mt-2 fw-semibold">Air Force 1 Black</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 3 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air2.webp" alt="Air Force 1 Gray and Green">
      <p class="mt-2 fw-semibold">Air Force 1 Gray and Green</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 4 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air3.webp" alt="Air Force 1 Blue style">
      <p class="mt-2 fw-semibold">Air Force 1 Blue style</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 5 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air4.webp" alt="Air Force 1 Black and White">
      <p class="mt-2 fw-semibold">Air Force 1 Black and White</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 6 -->
       <div class="jesska-item text-center">

      <img src="assets/img/air6.webp" alt="Air Force 1 Cuero">
      <p class="mt-2 fw-semibold">Air Force 1 Cuero</p>
        <p class="fw-bold">$299.000</p
>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 7 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air7.webp" alt="Air Casual">
      <p class="mt-2 fw-semibold">Air Casual</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 8 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air8.avif" alt="Future">
      <p class="mt-2 fw-semibold">Force Future 97</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 9 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air8.webp" alt="Special Pink">
      <p class="mt-2 fw-semibold">Special Pink</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
    <!-- 10 -->
    <div class="jesska-item text-center">
      <img src="assets/img/air-force.png" alt="Air Force 1">
      <p class="mt-2 fw-semibold">Air Force 1</p>
      <p class="fw-bold">$299.000</p>
      <button onclick="window.location.href='catalogo.html'" class="btn jesska-btn">Compra Ahora</button>
    </div>
  </div>

  <!-- derecha -->
  <button class="slider-arrow right" onclick="moverSlider(1)">&#10095;</button>
</section>

<!-- seccion de lo mas vendido -->
 <section class="container-fluid px-4 py-5 bg-white">
  <div class="row g-4">
    <!-- hombre -->
    <div class="col-md-6 position-relative">
      <img src="assets/img/hombre.webp" class="img-fluid w-100" alt="Hombre">
      <div class="jesska-banner-info text-center p-4">
        <h5 class="mb-1 fw-bold">LOS MÁS VENDIDOS PARA HOMBRE</h5>
        <p class="text-muted small">FAVORITOS DE VANGUARDIA</p>
        <a href="catalogo.html" class="btn jesska-btn m-2">COMPRAR AHORA</a>
      </div>
    </div>
    <!-- mujer -->
    <div class="col-md-6 position-relative">
      <img src="assets/img/mujer.webp" class="img-fluid w-100" alt="Mujer">
      <div class="jesska-banner-info text-center p-4">
        <h5 class="mb-1 fw-bold">LOS MÁS VENDIDOS PARA MUJER</h5>
        <p class="text-muted small">FAVORITOS DE VANGUARDIA</p>
        <a href="catalogo.html" class="btn jesska-btn mt-2">COMPRAR AHORA</a>
      </div>
    </div>
  </div>
</section>


<!-- cards horizontales -->
 <section class="container-fluid px-4 py-5">
<div class="row g-4 align-items-center">
  <!-- primer bloque -->
  <div class="col-md-4">
    <div class="jesska-card-horizontales position-relative overflow-hidden">
      <img src="assets/img/promo1.jpg" class="img-fluid w-100" alt="promo 1">
      <div class="jesska-overlay-text"> <p class="text-uppercase small">CABALLERO</p>
        <h4 class="fw-bold">Encuentra tu ajuste perfecto</h4>
        <a href="catalogo.html" class="btn btn-jesska">Explorar</a>
      </div>
    </div>
  </div>
  <!-- segundo bloque -->
   <div class="col-md-4">
    <div class="jesska-card-horizontales position-relative overflow-hidden">
      <img src="assets/img/promo2.webp" class="img-fluid w-100" alt="promo 1">
      <div class="jesska-overlay-text"> <p class="text-uppercase small">DAMA</p>
        <h4 class="fw-bold">Estilos ideales para cada una</h4>
        <a href="catalogo.html" class="btn btn-jesska">Explorar</a>
      </div>
    </div>
  </div>
  <!-- tercer bloque -->
   <div class="col-md-4">
    <div class="jesska-card-horizontales position-relative overflow-hidden">
      <img src="assets/img/promo3.jpg" class="img-fluid w-100" alt="promo 1">
      <div class="jesska-overlay-text"> <p class="text-uppercase small">NIÑO</p>
        <h4 class="fw-bold">Los mayor calidad para los mas pequeños</h4>
        <a href="catalogo.html" class="btn btn-jesska">Explorar</a>
      </div>
    </div>
  </div>
</div>
 </section>
 
<!-- modales -->
<!-- modal del login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form onsubmit="return login(event)">
        <div class="modal-header">
          <h5 class="modal-title">Iniciar Sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <input type="email" id="loginEmail" class="form-control mb-3" placeholder="Correo electrónico" required>
          <input type="password" id="loginPassword" class="form-control mb-3" placeholder="Contraseña" required>
        </div>
        <div class="modal-footer d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn jesska-btn px-4" type="submit">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- modal del regis -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form onsubmit="return register(event)">
        <div class="modal-header">
          <h5 class="modal-title">Crear Cuenta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control mb-3" placeholder="Nombre completo" required>
          <input type="email" class="form-control mb-3" placeholder="Correo electrónico" required>
          <input type="password" class="form-control mb-3" placeholder="Contraseña" required>
        </div>
        <div class="modal-footer d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn jesska-btn px-4" type="submit">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../parciales/footer') %>